@page
@model pkmnWildLife.Pages.characters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.TeraType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.TeraType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.HP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.HP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.MaxHP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.MaxHP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.TempMaxHP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.TempMaxHP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Grit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Grit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.MaxGrit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.MaxGrit)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Character?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
