@page
@using Microsoft.IdentityModel.Tokens
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="abilities" class="display">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th style="display:none;"> Name en</th>
        <th>
            Effekt
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Ability)
    {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">
                    @if (item.Name_DE.IsNullOrEmpty())
                    {
                        @Html.DisplayFor(modelItem => item.Name)
                    }
                    @Html.Raw(item.Name_DE)
                </a>
            </td>
            <td style="display:none;">
                @Html.Raw(item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Effect)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#abilities').DataTable({
         "order": []
        });
    });
    </script>
}