@page
@model IndexModel

@{
    ViewData["Title"] = "FähigkeitenDex";
    ViewData["HeaderColor"] = "#f00";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="abilities" class="display">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th style="display:none;"> Name en</th>
        <th>
            Short-Effekt
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Ability)
    {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">
                    @if (String.IsNullOrEmpty(item.Name_DE))
                    {
                        @Html.DisplayFor(modelItem => item.Name)
                    }
                    @Html.Raw(item.Name_DE)
                </a>
            </td>
            <td style="display:none;">
                @Html.Raw(item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortEffect)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#abilities').DataTable({
         "order": [],
         "lengthMenu": [[10, 25, 100, 200, 500, -1],[10, 25, 100,200,500, "All"]]
        });
    });
    </script>
}