@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Westwind.AspNetCore.Markdown
@model pkmnWildLife.Pages.pokemon.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div style="display: flex">
    <div>

    </div>
    <div>
        <canvas id="myChart" style=" filter: invert(1) hue-rotate(180deg);"></canvas>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
           const ctx = document.getElementById('myChart');
         
           new Chart(ctx, {
             type: 'radar',
             data: {
               labels: ['Vitality', 'ATK', 'DEF', 'SpATK', 'SpDEF', 'Speed'],
               datasets: [{
                 label: '',
                 data: [@Html.Raw(Model.Pokemon.HEALTH), @Html.Raw(Model.Pokemon.ATK), @Html.Raw(Model.Pokemon.DEF), @Html.Raw(Model.Pokemon.SP_ATK), @Html.Raw(Model.Pokemon.SP_DEF), @Html.Raw(Model.Pokemon.SPEED)],
                 borderWidth: 1
               }]
             },
             options: {
               scales: {
                 r: {
                   min: 0,
                   max: 13,
                 }
               }
             }
           });
         </script>
    </div>

</div>


<h2>Learnable Moves</h2>

<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button" onclick="openLearnmethod('LevelUp')">Level-up</button>
    <button class="w3-bar-item w3-button" onclick="openLearnmethod('TM')">TM</button>
    <button class="w3-bar-item w3-button" onclick="openLearnmethod('TutorEgg')">Tutor and EggMoves</button>
</div>


<div id="LevelUp" class="learnmethod" style="; display: flex; flex-wrap: wrap ; flex:  1 1 0px" >
    @foreach (var move in Model.Learnsets.Where(e => e.level != 0).OrderBy(e => e.level))
    {
        <div width="33%">
            <table class="move-table">
                <thead>
                <tr>
                    <th colspan="3">
                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID"> @Html.Raw($"{move.move.Name}/{move.move.Name_DE}") </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">Learned via @Html.Raw(move.how)</td>
                    <td>Learned at Level @Html.Raw(move.level)</td>
                </tr>
                <tr>
                    <td>@Html.Raw($"{move.move.type.Name}/{move.move.type?.Name_DE}")</td>
                    <td>@Html.Raw($"Targets {move.move.Target}")</td>
                    <td>@Html.Raw(move.move.DamageDice)</td>
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(Markdown.Parse(move.move.Effect))</td>
                </tr>
                </tbody>
            </table>
        </div>
    }
</div>
<div id="TM" class="learnmethod" style="display:none; flex-wrap: wrap ; flex:  1 1 0px">
    @foreach (var move in Model.Learnsets.Where(e => e.how == "machine"))
    {
        <div max-width="33%">
            <table class="move-table">
                <thead>
                <tr>
                    <th colspan="3">
                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID"> @Html.Raw($"{move.move.Name}/{move.move.Name_DE}") </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">Learned via @Html.Raw(move.how)</td>
                </tr>
                <tr>
                    <td>@Html.Raw($"{move.move.type.Name}/{move.move.type?.Name_DE}")</td>
                    <td>@Html.Raw($"Targets {move.move.Target}")</td>
                    <td>@Html.Raw(move.move.DamageDice)</td>
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(Markdown.Parse(move.move.Effect))</td>
                </tr>
                </tbody>
            </table>
        </div>
    }
</div>
<div id="TutorEgg" class="learnmethod" style="display:none; flex-wrap: wrap ; flex:  1 1 0px">

    @foreach (var move in Model.Learnsets.Where(e => !new List<string>() { "machine", "level-up" }.Contains(e.how)).OrderBy(m => m.how))
    {
        
    <div width="33%">
        <table class="move-table">
            <thead>
            <tr>
                <th colspan="3">
                    <a asp-page="/moves/Details" asp-route-id="@move.move.ID"> @Html.Raw($"{move.move.Name}/{move.move.Name_DE}") </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3">Learned via @Html.Raw(move.how)</td>
            </tr>
            <tr>
                <td>@Html.Raw($"{move.move.type.Name}/{move.move.type?.Name_DE}")</td>
                <td>@Html.Raw($"Targets {move.move.Target}")</td>
                <td>@Html.Raw(move.move.DamageDice)</td>
            </tr>
            <tr>
                <td colspan="3">@Html.Raw( Markdown.Parse(move.move.Effect))</td>
            </tr>
            </tbody>
        </table>
    </div>
    }
</div>

<script>
function openLearnmethod(cityName) {
  var i;
  var x = document.getElementsByClassName("learnmethod");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(cityName).style.display = "flex";
}
</script>

<a asp-page="./Edit" asp-route-id="@Model.Pokemon?.ID">Edit</a> |
<a asp-page="./Index">Back to List</a>