@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model pkmnWildLife.Pages.pokemon.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.Name) / @Html.DisplayFor(model => model.Pokemon.Name_DE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon.HEALTH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.HEALTH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon.ATK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.ATK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon.DEF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.DEF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon.SP_ATK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.SP_ATK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon.SP_DEF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.SP_DEF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon.SPEED)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.SPEED)
        </dd>
    </dl>
</div>



<h2>Learnable Moves</h2>

@foreach (var move in Model.Learnsets.Where(e => e.level != 0).OrderBy(e => e.level))
{
    <table class="move-table">
        <thead>
        <tr><th colspan="3"><a asp-page="/moves/Details" asp-route-id="@move.move.ID"> @Html.Raw($"{move.move.Name}/{move.move.Name_DE}") </a></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">Learned via @Html.Raw(move.how)</td>
            <td>Learned at Level @Html.Raw(move.level)</td>
        </tr>
        <tr>
            <td>@Html.Raw($"{move.move.type.Name}/{move.move.type?.Name_DE}")</td>
            <td>@Html.Raw($"Targets {move.move.Target}")</td>
            <td>@Html.Raw(move.move.DamageDice)</td>
        </tr>
        <tr>
            <td colspan="3">@Html.Raw(move.move.Effect)</td>
        </tr>
        </tbody>
        </table>
}

    <a asp-page="./Edit" asp-route-id="@Model.Pokemon?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>



