@page
@model pkmnWildLife.Pages.pokemon.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].Name_DE)
        </th>
        <th>
            Typen
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].HEALTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].ATK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].DEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].SP_ATK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].SP_DEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].SPEED)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pokemon.OrderBy(c => c.Order)) {
    <tr>
       
        <td>
            <a asp-page="./Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Name)</a> 
        </td>
        <td>
           <a asp-page="./Details" asp-route-id="@item.ID">  @Html.DisplayFor(modelItem => item.Name_DE)</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type1.Name) @if(item.Type2 != null){@Html.Raw("/")}
            @Html.DisplayFor(modelItem => item.Type2.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEALTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_ATK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_DEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPEED)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
           Details
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>


