@page
@using Microsoft.IdentityModel.Tokens
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="pokedex" class="display">
    <thead>
    <tr>
        <th>
            DexNumber
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].Name)
        </th>

        <th>
            Typen
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].HEALTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].ATK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].DEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].SP_ATK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].SP_DEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].SPEED)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Pokemon.OrderBy(c => c.Order))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Name)
                    @if (!item.Name_DE.IsNullOrEmpty())
                    {
                        @Html.Raw($" / {item.Name_DE}")
                    }
                    @if (!item.Form.IsNullOrEmpty())
                    {
                        @Html.Raw($" ({item.Form})")
                    }
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Type1.Name_DE)
                @if (item.Type2 != null)
                {
                    @Html.Raw("/")
                }
                @Html.DisplayFor(modelItem => item.Type2.Name_DE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HEALTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ATK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SP_ATK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SP_DEF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPEED)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#pokedex').DataTable({
         "order": []
        });
    });
    </script>
}