@page
@model IndexModel

@{
    ViewData["Title"] = "Angriffsdex";
    ViewData["HeaderColor"] = "#f00";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="movedex" class="display">
    <thead>
    <tr>
        <th style="display:none;">Name en</th>
        <th>
            Name
        </th>

        <th>
            Typ
        </th>
        <th style="display: none"> &nbsp;</th>
        <th>
            Kategorie
        </th>
        <th>
            DMG
        </th>
        <th>
            Kurz-Effekt
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Move)
    {
        <tr>
            <td style="display:none;">

                @Html.Raw(item.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">
                    @if (!item.Name_DE.IsNullOrEmpty())
                    {
                        @Html.Raw(item.Name_DE)
                    }
                    else
                    {
                        @item.Name
                    }
                </a>
            </td>


            <td>
                <img src="/icons/type/normal/DE/SV/@Html.Raw($"{item.type.ID}.png")"/>
            </td>
            <td style="display: none">@item.type.Name / @item.type.Name_DE</td>
            <td>
                <img src="/icons/moveclass/bdsp/@Html.Raw($"{item.MoveClass.ID}.png")" style="display: inline"/> @item.MoveClass.Name_DE
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DamageDice)
            </td>
            <td>
                @Html.Raw(Markdown.Parse(item.ShortEffect))
            </td>
        </tr>
    }
    </tbody>
</table>


@section Scripts {
    <script>
    $(document).ready(function () {
        $('#movedex').DataTable({
         "order": [],
         "lengthMenu": [[10, 25, 100, 200, 500, -1],[10, 25, 100,200,500, "All"]]
        });
    });
    </script>
}