@page
@using Microsoft.IdentityModel.Tokens
@using Westwind.AspNetCore.Markdown
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>
    @if (Model.Pokemon.Name_DE.IsNullOrEmpty())
    {
        @Html.DisplayFor(modelItem => modelItem.Pokemon.Name)
    }
    @Html.DisplayFor(modelItem => modelItem.Pokemon.Name_DE)
    @if (!Model.Pokemon.Form.IsNullOrEmpty())
    {
        @Html.Raw($"({Model.Pokemon.Form})")
    }
</h1>

<div class="w3-cell-row">
    <div class="w3-container w3-third w3-cell">
        <h3>Typen</h3>
        <img src="/icons/type/normal/DE/SV/@Html.Raw($"{Model.Pokemon.Type1.ID}.png")"/>
        @if (Model.Pokemon.Type2 != null)
        {
            <img src="/icons/type/normal/DE/SV/@Html.Raw($"{Model.Pokemon.Type2.ID}.png")"/>
        }

        <h2>Fähigkeiten</h2>

        @foreach (var a in Model.Pokemon.Abilities)
        {
            <h3>@Html.Raw($"{a.Name_DE}")</h3>
            @Html.Raw(Markdown.Parse(a.Effect))
        }
    </div>
    <div class="w3-container w3-third w3-cell">
        <img src="@Html.Raw(Model.Pokemon.ImageLink)" class="w3-image" style="width:100%"/>
    </div>
    <div class="w3-container w3-third w3-cell">
        <canvas id="myChart"></canvas>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
           const ctx = document.getElementById('myChart');
         
           new Chart(ctx, {
             type: 'radar',
             data: {
               labels: ['Gesundheit @Html.Raw(Model.Pokemon.HEALTH)/50', 'ATK @Html.Raw(Model.Pokemon.ATK)/25', 'DEF @Html.Raw(Model.Pokemon.DEF)/25', 'SpATK @Html.Raw(Model.Pokemon.SP_ATK)/25' , 'SpDEF @Html.Raw(Model.Pokemon.SP_DEF)/25', 'Initiative @Html.Raw(Model.Pokemon.SPEED)/25'],
               datasets: [{
                 label: '',
                 data: [@Html.Raw(Model.Pokemon.HEALTH / 2), @Html.Raw(Model.Pokemon.ATK), @Html.Raw(Model.Pokemon.DEF), @Html.Raw(Model.Pokemon.SP_ATK), @Html.Raw(Model.Pokemon.SP_DEF), @Html.Raw(Model.Pokemon.SPEED)],
                 borderWidth: 1
               }]
             },
             options: {
               scales: {
                 r: {
                   min: 0,
                   max: 25,
                   pointLabels: {
                       font: {size: 15}
                   }
                 }
               }
             }
           });
         </script>
    </div>


</div>


<h2>Learnable Moves</h2>


<div class="w3-row-padding">
    <a href="javascript:void(0)" onclick="openCity(event, 'LevelUp');">
        <div class="w3-col tablink w3-bottombar w3-hover-light-grey   w3-border-red" style="width:20%">Level Up</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'TM');">
        <div class=" w3-col tablink w3-bottombar w3-hover-light-grey " style="width:20%">TM</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tutor');">
        <div class="w3-col tablink w3-bottombar w3-hover-light-grey " style="width:20%">Tutor</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Egg');">
        <div class="w3-col tablink w3-bottombar w3-hover-light-grey" style="width:20%">Ei</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Unknown');">
        <div class="w3-col tablink w3-bottombar w3-hover-light-grey" style="width:20%">Unbekannt Wie</div>
    </a>
</div>


<div id="LevelUp" class="w3-container city" style=" display: flex; flex-wrap: wrap ;  justify-content: space-evenly">
    @foreach (var move in Model.Learnsets.Where(e => e.level != int.MaxValue).OrderBy(e => e.level))
    {
        <div class="w3-container w3-cell w3-mobile" style="flex:  1 1 33.333333%;">
            <div class="w3-card">
                <header class="w3-container @move.move.type.ID">

                    <h3>

                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID">
                            <img src="/icons/type/normal/SYMBOL/@Html.Raw($"{move.move.type.ID}.png")" style="display: inline"/>

                            @Html.Raw(move.move.Name_DE)
                            @if (move.move.Name_DE.IsNullOrEmpty())
                            {
                                @Html.Raw(move.move.Name)
                            }
                        </a>
                    </h3>
                </header>

                <div class="w3-container">
                    <dl>
                        <dt>
                            Gelernt via
                        </dt>
                        <dd>@Html.Raw(move.how)</dd>
                        <dt>Gelernt auf Level</dt>
                        <dd>@Html.Raw(move.level)</dd>
                        <dt>Angrifssklasse</dt>
                        <dd>
                            @Html.Raw(move.move.MoveClass.Name_DE)
                        </dd>
                        <dt>Move Typ</dt>
                        <dd>@Html.Raw(move.move.type.Name_DE)</dd>
                        <dt>Quellen-Game</dt>
                        <dd>@Html.Raw(move.source)</dd>


                        @if (!move.move.DamageDice.IsNullOrEmpty())
                        {
                            <dt>Schadenswürfel Dice</dt>
                            <dd>@Html.Raw(move.move.DamageDice)</dd>
                        }
                        else
                        {
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                        }
                    </dl>
                </div>


                <div class="w3-container @move.move.type.ID">
                    <h4>Effekt</h4>
                </div>
                <div class="w3-container">
                    @Html.Raw(Markdown.Parse(move.move.Effect))
                </div>
            </div>
        </div>
    }
</div>


<div id="TM" class="w3-container city" style="display:none; flex-wrap: wrap ; flex:  1 1 0px; justify-content: space-around">
    @foreach (var move in Model.Learnsets.Where(e => e.how == "machine"))
    {
        <div class="w3-container w3-cell w3-mobile" style="flex:  1 1 33.333333%;">
            <div class="w3-card">
                <header class="w3-container @move.move.type.ID">

                    <h3>
                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID">
                            <img src="/icons/type/normal/SYMBOL/@Html.Raw($"{move.move.type.ID}.png")" style="display: inline"/>

                            @Html.Raw(move.move.Name_DE)
                            @if (move.move.Name_DE.IsNullOrEmpty())
                            {
                                @Html.Raw(move.move.Name)
                            }
                        </a>
                    </h3>
                </header>

                <div class="w3-container">
                    <dl>
                        <dt>
                            Gelernt via
                        </dt>
                        <dd>@Html.Raw(move.how)</dd>
                        <dt>Gelernt auf Level</dt>
                        <dd>@Html.Raw(move.level)</dd>
                        <dt>Angrifssklasse</dt>
                        <dd>
                            @Html.Raw(move.move.MoveClass.Name_DE)
                        </dd>
                        <dt>Move Typ</dt>
                        <dd>@Html.Raw(move.move.type.Name_DE)</dd>
                        <dt>Quellen-Game</dt>
                        <dd>@Html.Raw(move.source)</dd>


                        @if (!move.move.DamageDice.IsNullOrEmpty())
                        {
                            <dt>Schadenswürfel Dice</dt>
                            <dd>@Html.Raw(move.move.DamageDice)</dd>
                        }
                        else
                        {
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                        }
                    </dl>
                </div>


                <div class="w3-container @move.move.type.ID">
                    <h4>Effekt</h4>
                </div>
                <div class="w3-container">
                    @Html.Raw(Markdown.Parse(move.move.Effect))
                </div>
            </div>
        </div>
    }
</div>
<div id="Tutor" class="w3-container city" style="display:none; flex-wrap: wrap ; flex:  1 1 0px; justify-content: space-around">

    @foreach (var move in Model.Learnsets.Where(e => e.how == "tutor").OrderBy(m => m.move.Name_DE))
    {
        <div class="w3-container w3-cell w3-mobile" style="flex:  1 1 33.333333%;">
            <div class="w3-card">
                <header class="w3-container @move.move.type.ID">

                    <h3>
                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID">
                            <img src="/icons/type/normal/SYMBOL/@Html.Raw($"{move.move.type.ID}.png")" style="display: inline"/>

                            @Html.Raw(move.move.Name_DE)
                            @if (move.move.Name_DE.IsNullOrEmpty())
                            {
                                @Html.Raw(move.move.Name)
                            }
                        </a>
                    </h3>
                </header>

                <div class="w3-container">
                    <dl>
                        <dt>
                            Gelernt via
                        </dt>
                        <dd>@Html.Raw(move.how)</dd>
                        <dt>Gelernt auf Level</dt>
                        <dd>@Html.Raw(move.level)</dd>
                        <dt>Angrifssklasse</dt>
                        <dd>
                            @Html.Raw(move.move.MoveClass.Name_DE)
                        </dd>
                        <dt>Move Typ</dt>
                        <dd>@Html.Raw(move.move.type.Name_DE)</dd>
                        <dt>Quellen-Game</dt>
                        <dd>@Html.Raw(move.source)</dd>


                        @if (!move.move.DamageDice.IsNullOrEmpty())
                        {
                            <dt>Schadenswürfel Dice</dt>
                            <dd>@Html.Raw(move.move.DamageDice)</dd>
                        }
                        else
                        {
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                        }
                    </dl>
                </div>


                <div class="w3-container @move.move.type.ID">
                    <h4>Effekt</h4>
                </div>
                <div class="w3-container">
                    @Html.Raw(Markdown.Parse(move.move.Effect))
                </div>
            </div>
        </div>
    }
</div>
<div id="Egg" class="w3-container city" style="display:none; flex-wrap: wrap ; flex:  1 1 0px; justify-content: space-around">

    @foreach (var move in Model.Learnsets.Where(e => e.how == "egg").OrderBy(m => m.move.Name_DE))
    {
        <div class="w3-container w3-cell w3-mobile" style="flex:  1 1 33.333333%;">
            <div class="w3-card">
                <header class="w3-container @move.move.type.ID">
                    <h3>
                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID">
                            <img src="/icons/type/normal/SYMBOL/@Html.Raw($"{move.move.type.ID}.png")" style="display: inline"/>

                            @Html.Raw(move.move.Name_DE)
                            @if (move.move.Name_DE.IsNullOrEmpty())
                            {
                                @Html.Raw(move.move.Name)
                            }
                        </a>
                    </h3>
                </header>

                <div class="w3-container">
                    <dl>
                        <dt>
                            Gelernt via
                        </dt>
                        <dd>@Html.Raw(move.how)</dd>
                        <dt>Gelernt auf Level</dt>
                        <dd>@Html.Raw(move.level)</dd>
                        <dt>Angrifssklasse</dt>
                        <dd>
                            @Html.Raw(move.move.MoveClass.Name_DE)
                        </dd>
                        <dt>Move Typ</dt>
                        <dd>@Html.Raw(move.move.type.Name_DE)</dd>
                        <dt>Quellen-Game</dt>
                        <dd>@Html.Raw(move.source)</dd>


                        @if (!move.move.DamageDice.IsNullOrEmpty())
                        {
                            <dt>Schadenswürfel Dice</dt>
                            <dd>@Html.Raw(move.move.DamageDice)</dd>
                        }
                        else
                        {
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                        }
                    </dl>
                </div>


                <div class="w3-container @move.move.type.ID">
                    <h4>Effekt</h4>
                </div>
                <div class="w3-container">
                    @Html.Raw(Markdown.Parse(move.move.Effect))
                </div>
            </div>
        </div>
    }
</div>
<div id="Unknown" class="w3-container city" style="display:none; flex-wrap: wrap ; flex:  1 1 0px; justify-content: space-around">

    @foreach (var move in Model.Learnsets.Where(e => e.how == "Unknown").OrderBy(m => m.move.Name_DE))
    {
        <div class="w3-container w3-cell w3-mobile" style="flex:  1 1 33.333333%;">
            <div class="w3-card">
                <header class="w3-container @move.move.type.ID">

                    <h3>
                        <a asp-page="/moves/Details" asp-route-id="@move.move.ID">
                            <img src="/icons/type/normal/SYMBOL/@Html.Raw($"{move.move.type.ID}.png")" style="display: inline"/>

                            @Html.Raw(move.move.Name_DE)
                            @if (move.move.Name_DE.IsNullOrEmpty())
                            {
                                @Html.Raw(move.move.Name)
                            }
                        </a>
                    </h3>
                </header>

                <div class="w3-container">
                    <dl>
                        <dt>
                            Gelernt via
                        </dt>
                        <dd>@Html.Raw(move.how)</dd>
                        <dt>Gelernt auf Level</dt>
                        <dd>@Html.Raw(move.level)</dd>
                        <dt>Angrifssklasse</dt>
                        <dd>
                            @Html.Raw(move.move.MoveClass.Name_DE)
                        </dd>
                        <dt>Move Typ</dt>
                        <dd>@Html.Raw(move.move.type.Name_DE)</dd>
                        <dt>Quellen-Game</dt>
                        <dd>@Html.Raw(move.source)</dd>


                        @if (!move.move.DamageDice.IsNullOrEmpty())
                        {
                            <dt>Schadenswürfel Dice</dt>
                            <dd>@Html.Raw(move.move.DamageDice)</dd>
                        }
                        else
                        {
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                        }
                    </dl>
                </div>


                <div class="w3-container @move.move.type.ID">
                    <h4>Effekt</h4>
                </div>
                <div class="w3-container">
                    @Html.Raw(Markdown.Parse(move.move.Effect))
                </div>
            </div>
        </div>
    }
</div>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(cityName).style.display = "flex";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
</script>

<a asp-page="./Edit" asp-route-id="@Model.Pokemon?.ID">Edit</a> |
<a asp - page="./Index"> Back to List</a >