@page
@using Microsoft.IdentityModel.Tokens
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="pokedex" class="display">
    <thead>
    <tr>
        <th>
            Dex
        </th>
        <th>&nbsp;</th>
        <th style="display:none;"> Name en</th>

        <th>
            @Html.DisplayNameFor(model => model.Pokemon[0].Name)
        </th>

        <th>
            Typen
        </th>
        <th style="display: none"> Typen</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Pokemon.OrderBy(c => c.Order))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                <img src="@item.ImageLink" height="40px"/>

            </td>
            <td style="display:none;">@Html.DisplayFor(modelItem => item.Name) </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">
                    @Html.Raw($" {item.Name_DE}")
                    @if (item.Name_DE.IsNullOrEmpty())
                    {
                        @Html.DisplayFor(modelItem => item.Name)
                    }
                    @if (!item.Form.IsNullOrEmpty())
                    {
                        @Html.Raw($" ({item.Form})")
                    }
                </a>
            </td>

            <td>
                <img src="/icons/type/normal/DE/SV/@Html.Raw($"{item.Type1.ID}.png")"/>
                @if (item.Type2 != null)
                {
                    <img src="/icons/type/normal/DE/SV/@Html.Raw($"{item.Type2.ID}.png")"/>
                }
            </td>

            <td style="display:none;">
                @Html.Raw($"{item.Type1.Name}")
                @if (item.Type2 != null)
                {
                    @Html.Raw($"/{item.Type2.Name}")

                }
                @Html.Raw($"{item.Type1.Name_DE}")
                                @if (item.Type2 != null)
                                {
                                    @Html.Raw($"/{item.Type2.Name_DE}")
                
                                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#pokedex').DataTable({
         "order": []
        });
    });
    </script>
}