@page
@using Microsoft.IdentityModel.Tokens
@model PrintModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/icons/style.css"/>

</head>
<body>
<div class="w3-row">
    <div class="w3-container w3-col w3-small" style="width: 12.5%">
        <h2>
            @if (Model.Pokemon.Name_DE.IsNullOrEmpty())
            {
                @Html.DisplayFor(modelItem => modelItem.Pokemon.Name)
            }
            @Html.DisplayFor(modelItem => modelItem.Pokemon.Name_DE)
            @if (!Model.Pokemon.Form.IsNullOrEmpty())
            {
                @Html.Raw($"({Model.Pokemon.Form})")
            }
        </h2>
        <h3>
            @Html.Raw(Model.Pokemon.Type1.Name_DE)
            @if (Model.Pokemon.Type2 != null)
            {
                @Html.Raw($"/ {Model.Pokemon.Type2!.Name_DE}")
            }
        </h3>
        <img src="@Html.Raw(Model.Pokemon.ImageLink)" class="w3-image"/>

        <h4 class="w3-small">Fähigkeiten</h4>
        <p class="w3-small">
            @foreach (var a in Model.Pokemon.Abilities)
            {
                @Html.Raw($"{a.Name_DE} ")
            }
        </p>
        <h4>Statistiken</h4>
        <dl class="w3-small">

            <dt>Gesundheit</dt>
            <dd>@Html.Raw(Model.Pokemon.HEALTH)/50</dd>

            <dt>Angriff</dt>
            <dd>@Html.Raw(Model.Pokemon.ATK)/25</dd>

            <dt>Verteidigung</dt>
            <dd>@Html.Raw(Model.Pokemon.DEF)/25</dd>

            <dt>Spezial-Angriff</dt>
            <dd>@Html.Raw(Model.Pokemon.SP_ATK)/25</dd>

            <dt>Spezial-Verteidigung</dt>
            <dd>@Html.Raw(Model.Pokemon.SPEED)/25</dd>

            <dt>Initiative</dt>
            <dd>@Html.Raw(Model.Pokemon.SPEED)/25</dd>


        </dl>


    </div>

    <div class="w3-container w3-row w3-rest">
        <div class="w3-row">
            <div class="w3-container w3-third">
                @if (Model.Pokemon.ID == "mew")
                {
                    <p>Mew kann jede TM und jede Tutorattacke Erlernen</p>
                }
                <table class="w3-striped w3-bordered w3-border w3-tiny">
                    <tbody>
                    @foreach (var ls in Model.Learnsets.OrderBy(mv => mv.how).OrderBy(mv => mv.level).ToArray()[..(Model.Learnsets.Count / 3)])
                    {
                        <tr >
                            <td>
                                @if (ls.how == "level-up")
                                {
                                    @Html.Raw(ls.level)
                                }
                                else if (ls.how == "machine")
                                {
                                    @Html.Raw("TM")
                                }
                                else if (ls.how == "egg")
                                {
                                    @Html.Raw("Ei")
                                }
                                else if (ls.how == "tutor")
                                {
                                    @Html.Raw("Tu")
                                }
                                else if (ls.how == "Unkown")
                                {
                                    @Html.Raw("?")
                                }
                            </td>
                            <td>
                                <div class="icon @Html.Raw(ls.move.type.ID)" style="height: 12px; width: 12px">
                                    <img src="/icons/type/@Html.Raw($"{ls.move.type.ID}.svg")"/>
                                </div>

                            </td>
                            <td>
                                @if (ls.move.Name_DE.IsNullOrEmpty())
                                {
                                    @Html.Raw(ls.move.Name)
                                }
                                else
                                {
                                    @Html.Raw(ls.move.Name_DE)
                                }
                            </td>

                            <td>
                                <div class="icon @Html.Raw(ls.move.MoveClass.ID)" style="height: 12px; width: 12px;">
                                    <img src="/icons/moveclass/@Html.Raw($"{ls.move.MoveClass.ID}.png")"/>
                                </div>
                            </td>
                            <td>
                                @Html.Raw(ls.move.DamageDice)
                            </td>

                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <div class="w3-container w3-third">
                <table class="w3-striped w3-bordered w3-border w3-tiny">
                    <tbody>
                    @foreach (var ls in Model.Learnsets.OrderBy(mv => mv.how).OrderBy(mv => mv.level).ToArray()[(Model.Learnsets.Count / 3)..(Model.Learnsets.Count / 3 * 2)])
                    {
                        <tr >
                            <td>
                                @if (ls.how == "level-up")
                                {
                                    @Html.Raw(ls.level)
                                }
                                else if (ls.how == "machine")
                                {
                                    @Html.Raw("TM")
                                }
                                else if (ls.how == "egg")
                                {
                                    @Html.Raw("Ei")
                                }
                                else if (ls.how == "tutor")
                                {
                                    @Html.Raw("Tu")
                                }
                                else if (ls.how == "Unkown")
                                {
                                    @Html.Raw("?")
                                }
                            </td>
                            <td>
                                <div class="icon @Html.Raw(ls.move.type.ID)" style="height: 12px; width: 12px">
                                    <img src="/icons/type/@Html.Raw($"{ls.move.type.ID}.svg")"/>
                                </div>

                            </td>
                            <td>
                                @if (ls.move.Name_DE.IsNullOrEmpty())
                                {
                                    @Html.Raw(ls.move.Name)
                                }
                                else
                                {
                                    @Html.Raw(ls.move.Name_DE)
                                }
                            </td>
                            <td>
                                <div class="icon @Html.Raw(ls.move.MoveClass.ID)" style="height: 12px; width: 12px;">
                                    <img src="/icons/moveclass/@Html.Raw($"{ls.move.MoveClass.ID}.png")"/>
                                </div>
                            </td>
                            <td>
                                @Html.Raw(ls.move.DamageDice)
                            </td>

                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <div class="w3-container w3-third">
                <table class="w3-striped w3-bordered w3-border w3-tiny">
                    <tbody>
                    @foreach (var ls in Model.Learnsets.OrderBy(mv => mv.how).OrderBy(mv => mv.level).ToArray()[(Model.Learnsets.Count / 3 * 2)..Model.Learnsets.Count])
                    {
                        <tr >
                            <td>
                                @if (ls.how == "level-up")
                                {
                                    @Html.Raw(ls.level)
                                }
                                else if (ls.how == "machine")
                                {
                                    @Html.Raw("TM")
                                }
                                else if (ls.how == "egg")
                                {
                                    @Html.Raw("Ei")
                                }
                                else if (ls.how == "tutor")
                                {
                                    @Html.Raw("Tu")
                                }
                                else if (ls.how == "Unkown")
                                {
                                    @Html.Raw("?")
                                }
                            </td>
                            <td>
                                <div class="icon @Html.Raw(ls.move.type.ID)" style="height: 12px; width: 12px">
                                    <img src="/icons/type/@Html.Raw($"{ls.move.type.ID}.svg")"/>
                                </div>

                            </td>

                            <td>
                                @if (ls.move.Name_DE.IsNullOrEmpty())
                                {
                                    @Html.Raw(ls.move.Name)
                                }
                                else
                                {
                                    @Html.Raw(ls.move.Name_DE)
                                }
                            </td>

                            <td>
                                <div class="icon @Html.Raw(ls.move.MoveClass.ID)" style="height: 12px; width: 12px;">
                                    <img src="/icons/moveclass/@Html.Raw($"{ls.move.MoveClass.ID}.png")"/>
                                </div>
                            </td>
                            <td>
                                @Html.Raw(ls.move.DamageDice)
                            </td>

                        </tr>
                    }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>